.btn{
    color: red !important;
}
.img-avatar{
    width: 50px;
    height: 50px;
}
.magenta{
    color: red;
}
.darkgreen{
    color: purple;
}

/* .with-400{

    width: 400px;
    margin: 0 au;
} */
 #root{
    margin:  0 auto;
 }